<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Generate pre-coded video</title>

    <link rel="stylesheet" href="https://latex.vercel.app/style.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images\bourdon.ico' %}">
</head>


<body>
    <div class="logo">
        <img src="{% static 'images/bourdon.png' %}" alt="logo">
    </div>
    
    <h1>Generate pre-coded video</h1>
    <!-- Form to submit the selected script -->
    <form method="post" action="{% url 'generate_pre_coded_video' %}">
        {% csrf_token %}
        <label for="script_name">Choose a pre-coded script:</label>


        <hr style="border: 0.4px solid black;">
        <p>Dot displacement</p>
        <form method="post" action="{% url 'generate_pre_coded_video' %}">
            {% csrf_token %}
            <label for="x_coord">x coordinate:</label>
            <input type="number" id="x_coord" name="x_coord" required>
            <label for="y_coord">y coordinate:</label>
            <input type="number" id="y_coord" name="y_coord" required>
            <button type="submit" name="script_name" value="manim_script_3.py">Generate</button>
        </form>


        <hr style="border: 0.4px solid black;">
        <p>Dot displacement 2</p>
        <form method="post" action="{% url 'generate_pre_coded_video' %}">
            {% csrf_token %}
            <label for="x_coord">x coordinate:</label>
            <input type="number" id="x_coord" name="x_coord" required>
            <label for="y_coord">y coordinate:</label>
            <input type="number" id="y_coord" name="y_coord" required>
            <button type="submit" name="script_name" value="manim_script_3.py">Generate</button>
        </form>


        <hr style="border: 0.4px solid black;">
        <p>Planet orbit</p>
        <form method="post" action="{% url 'generate_pre_coded_video' %}">
            {% csrf_token %}
            <label for="demi_grand_axe">Semi-major axis (units):</label>
            <input type="number" 
                id="demi_grand_axe" 
                name="demi_grand_axe" 
                min="0.1" 
                max="7"
                step="0.1" 
                value="3"
                required>

            <label for="excentricite">Eccentricity (0-1):</label>
            <input type="number" 
                id="excentricite" 
                name="excentricite" 
                min="0.1" 
                max="1.0" 
                step="0.01" 
                value="0.5"
                required>

            <label for="periode_orbitale">Orbital period (seconds):</label>
            <input type="number" 
                id="periode_orbitale" 
                name="periode_orbitale" 
                min="1" 
                max="10" 
                step="0.5" 
                value="5"
                required>

            <button type="submit" name="script_name" value="PlanetOrbit.py">Generate</button>
        </form>


        <hr style="border: 0.4px solid black;">
        <p>Projectile trajectory</p>

        


        <hr style="border: 0.4px solid black;">

        <a href="{% url 'home' %}">Home page</a>

    </form>
</body>
</html>